<html lang="en">
<head>
  <%- include('../template/head'); %>
</head>
<body class="container">

<header>
  <%- include('../template/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Camera Tests</h1>
  </div>

  <div>
    <input type="file" accept="image/*;capture=camera">
  </div>
</main>

<footer>
  <%- include('../template/footer'); %>
</footer>

</body>
</html>